body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 10%;
    background-color: #333;
    color: white;
    padding: 1em;
    height: 100%;
    box-sizing: border-box;
    position: fixed;
}

.sidebar h2 {
    color: #fff;
}

.sidebar ul {
    list-style-type: disc;
    padding-left: 1em;
}

.sidebar ul li {
    padding: 0.5em 0;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #444;
}

.content {
    flex: 1;
    padding: 1em;
    box-sizing: border-box;
    margin-left: 12%;
    margin-top: 8%;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-left: 10%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

header div {
    margin-top: 1em;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1em 0;
}

.select-container {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    position: relative;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

.select {
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
}

.select:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.select-container::after {
    content: '\25BC'; /* Down arrow */
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
}

.ad-container {
    margin: 1em 0;
    text-align: center;
}

.styled-list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.item-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.item-description {
    font-size: 1em;
    line-height: 1.5;
    color: #444;
}

.indented {
    padding-left: 20px;
    display: block;
}